<p id="notice"><%= notice %></p>

<h5>
ALL TEH LINKS
</h5>

<table class="bordered striped">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>

        <td><span class="btn-link-menu"><%= link_to 'Show', link %></span></td>

          <td><span class="btn-link-menu"><%= link_to 'Edit', edit_link_path(link) %></span></td>

          <td><span class="btn-link-menu"><%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>


      </tr>
    <% end %>

  </tbody>
</table>

<br>
