
<p>
  <strong>TITLE:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= @link.url %>
</p>


 <td>
    <div class="btn-icons">
      <a href="<% link_to like_link_path(@link), method: :put %>"><i class="small material-icons">thumb_up</i><%= @link.get_upvotes.size %></a>
    </div>
  </td>

  <td>
    <div class="btn-icons">
      <a href="<% link_to dislike_link_path(@link), method: :put %>"><i class="small material-icons">thumb_down</i><%= @link.get_downvotes.size %></a>
    </div>
  </td>

<span class="btn-actions">
<%= link_to 'Edit', edit_link_path(@link) %></span> |
<span class="btn-actions">
<%= link_to 'Back', links_path %></span>
