<p id="notice"><%= notice %></p>
<p>
  <strong>TITLE:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= @link.url %>
</p>

<span class="btn-link-menu">
<%= link_to 'Edit', edit_link_path(@link) %></span> |
<span class="btn-link-menu">
<%= link_to 'Back', links_path %></span>
