<p id="notice"><%= notice %></p>
<p>
  <strong>TITLE:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= @link.url %>
</p>


<div class="btn-group pull-right">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= @link.get_downvotes.size %>
  <% end %>
</div>

<span class="btn-link-menu">
<%= link_to 'Edit', edit_link_path(@link) %></span> |
<span class="btn-link-menu">
<%= link_to 'Back', links_path %></span>
