<!DOCTYPE html>
<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Dreddit!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
  <body>
    <div class="container green lighten-4">
      <span class="dreddit-text">Dreddit!</span>
      <div class="nav-buttons">
      <% if user_signed_in? %>
          <span class="waves-effect waves-light btn"><%= link_to 'Home', links_path %></span>
          <span class="waves-effect waves-light btn"><%= link_to 'Account', edit_user_registration_path %></span>
           <span class="waves-effect waves-light btn"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></span>
           <span class="waves-effect waves-light btn"><%= link_to 'Submit Link', new_link_path %></span>
      <% else %>
          <span class="waves-effect waves-light btn"><%= link_to 'Sign In', new_user_session_path %></span>
          <span class="waves-effect waves-light btn"><%= link_to 'Sign Up', new_user_registration_path %></span>
      <% end %>
      </div>
    </div>

    <div class="container">
     <%= yield %>

      <!--Import jQuery before materialize.js-->
       <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script type="text/javascript" src="js/materialize.min.js"></script>
    </div>
  </body>
</html>
